*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  overflow:hidden;
}

.container{
  width:100%;
  height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
  url(image/1.jpeg);
  background-size:cover;
  background-position:center;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  animation:fadeIn 1.5s ease-in-out;
}

h1{
  color:#fff;
  font-size:70px;
  font-weight:700;
}

.auto-type{
  background:linear-gradient(90deg,#ffcc00,#ff0066,#00f2ff);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.typed-cursor{
  font-size:70px;
  color:#ffcc00;
  animation:blink 0.7s infinite;
}

@keyframes blink{
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* Responsive */
@media(max-width:768px){
  h1{
    font-size:35px;
    padding:0 15px;
  }
}
